
/* Font Style */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,700;1,1000&display=swap');

/* Universal Style */

* {

    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

}

.orange {

    color: #FF5400;

}

header, main {

    width: 80%;
    max-width: 1440px;
    margin: 52px auto;

}

/* Header sections style */

/* Navbar Section */

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-container {

    display: flex;
    gap: 16.63px;
    align-items: center;

}

.logo-img {

    width: 48px;
    height: 56.008px;

}

.logo-name {

    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;

}

.menu-container > ul {

    display: flex;
    gap: 44px;
    
}

.menu-container ul li {

    list-style: none;
    
}

ul li a {

    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

/* Banner Section Style */

.icon{
    display: flex;
    gap: 10px;
}
.banner{
    margin-top: 49px;
    margin-bottom: 100px;
}
.banner-container{
    width: 70%;
    max-width: 1420px;
    margin: 0 auto;
    padding-top: 105px;
    
}
.banner-img{
    background-image: url('Images/banner.png');
    width: 1170px;
    height: 500px;
    border-radius: 10px;

    
    
}
.black{
    width: 1170px;
        height: 500px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title{
    color: #FFF;
        font-family: Mulish;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
        margin-bottom: 24px;
       
       
}

.banner-des{
    color: #FFF;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
        text-align: center;
        margin-bottom: 48px;
}

.form-container{
    display: flex;
    gap: 24px;
    display: inline-flex;
        padding: 16px;
        align-items: flex-start;
        gap: 24px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
}
input{
    width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FFF;
        border: 0;
        padding-left: 16px;
        
}
.orange-input{

        border-radius: 8px;
        background: #FF5400;
        
        font-size: 16px;
}

/* Popular Tours Style Section */

.popular-tours{
    display: flex;
    gap: 53px;
}
.popular-tours-title{
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-bottom: 24px;
}
.popular-tours-des{
    color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        
        /* 162.5% */
}
.orange-btn{
    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border: 0;
    width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
}
.popular-tours-img{
    width: 540px;
        height: 550px;
        flex-shrink: 0;
        border-radius: 16px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.lis{
    padding-bottom: 16px;
    color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
}
.h{
    padding-bottom: 32px;
}


/* Destination Style Section */

.destination{
    margin-top: 100px;
    margin-bottom: 100px;
}

.img1{
    position: relative;
}
.pn1{
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 220px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}

.img2 {
    position: relative;
}

.pn2 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 220px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img3 {
    position: relative;
}

.pn3 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 130px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img4 {
    position: relative;
}

.pn4 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 130px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img5 {
    position: relative;
}

.pn5 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 80px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img6 {
    position: relative;
}

.pn6 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 160px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img7 {
    position: relative;
}

.pn7 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -170px;
    padding-left: 250px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.destination-title{
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-bottom: 24px;
}

.destination-des{
    color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
        padding-bottom: 48px;
}

.row-1{
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}
.row-2{
    display: flex;
        gap: 24px;
        padding-bottom: 24px;
}
.row-3 {
    display: flex;
        gap: 24px;
       
}


/* Why Choice Section Style */

.why-choice-title{
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-bottom: 24px;
}

.why-choice-des{
    color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
        padding-bottom: 48px;
}
.card-1{
    border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        padding: 32px;
}
.card-2{
    border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        padding: 32px;
}
.card-3{
    margin-left: 300px;
    width: 486px;
    padding: 32px;
    margin-top: 24px;
    border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
}
.two-card{
    display: flex;
    gap: 24px;
}
.card-1-title{
    color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-top: 32px;
        padding-bottom: 16px;
}
.card-1-des{
    color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
}





/* Responsive Style */

/* Mobile Responsive Style */

/* @media screen and (max-width:375px){
    body{
        margin-right: 10px;
    }
} */

@media screen and (max-width:425px) {
   


    
/* Navbar Responsive Style */

    .navbar {

            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

    .menu-container > ul {

            display: grid;
            gap: 5px;
            grid-template-columns: repeat(3,1fr);
        
        }

    .menu-container {
            margin-top: 10px;
        }
    .card-3 {
        margin-left: 0px;
        width: 286px;
        padding: 32px;
        margin-top: 24px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        }
    .card-1-title{
        color: #131318;
           
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
    }
    .card-1-des{
        color: #5A5A5D;
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 171.429% */
    }
    .why-choice-title{
        color: #131318;
            text-align: center;
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
    }
    .why-choice-des{
        color: rgba(19, 19, 24, 0.70);
            text-align: center;
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 171.429% */
    }



/* Banner Responsive Style */

.banner-container {
    width: 90%;
    max-width: 1420px;
    margin: 0 auto;
    padding-top: 32px;

}
.black {
    width: 335px;
        height: 483px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.form-container {
    flex-direction: column;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
input {
    width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding-left: 16px;

}
.banner-img{
      width: 335px;
        height: 483px;
}
.banner-title{
    color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 15px;
}
.banner-des{
    
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 15px;
        /* 150% */
}




/* Popular Tours Style Section */

.popular-tours {
    flex-direction: column;

}
.popular-tours-title {
color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tours-des {
color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.orange-btn {
    width: 174px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
            text-align: center;
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
}

.tour-img{
    width: 335px;
        height: 342px;
        flex-shrink: 0;
        border-radius: 16px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.popular-tours-img{
    width: 335px;
    height: 342px;
}


.lis {
color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.h {
    padding-bottom: 32px;
}




/* Destination Style Section */

.destination {
    margin-top: 100px;
    margin-bottom: 100px;
}


.img1 {
    position: relative;
    width: 335px;
        height: 176px;
        flex-shrink: 0;
}

.pn1 {
    position: absolute;
    
    margin-top: -105px;
    padding-left: 130px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.img2 {
    position: relative;
    width: 335px;
        height: 176px;
        flex-shrink: 0;
}

.pn2 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -105px;
    padding-left: 130px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.img3 {
    position: relative;
    width: 335px;
        height: 176px;
        flex-shrink: 0;
}

.pn3 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -100px;
    padding-left: 130px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}

.img4 {
    position: relative;
width: 335px;
    height: 176px;
    flex-shrink: 0;
}

.pn4 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -110px;
    padding-left: 100px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.img5 {
    position: relative;
    width: 335px;
        height: 176px;
        flex-shrink: 0;
}

.pn5 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -100px;
    padding-left: 130px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.img6 {
    position: relative;
    width: 335px;
        height: 176px;
        flex-shrink: 0;
}

.pn6 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -110px;
    padding-left: 120px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.img7 {
    position: relative;
    width: 335px;
        height: 176px;
        flex-shrink: 0;
}

.pn7 {
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -110px;
    padding-left: 115px;

    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.destination-title {
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}

.destination-des {
color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.row-1 {
    flex-direction: column;
    padding-bottom: 16px;
}

.row-2 {
    flex-direction: column;
    padding-bottom: 16px;
}

.row-3 {
    flex-direction: column;

}



/* Why choice section style */
.two-card {
    flex-direction: column;
}

}






/* Medium device responsive layout */
@media screen and (min-width:426px) and (max-width:992px) {




    /* Navbar Responsive Style */
    
        .navbar {
            flex-direction: column;
        }
    
        .menu-container {
            margin-top: 10px;
        }
    



        /* Banner Responsive Style */
    
        .banner-img {
            width: 800px;
            height: 483px;
        }
    
        .black {
            width: 800px;
            height: 483px;
            flex-shrink: 0;
            border-radius: 16px;
            background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
        }
    
        .form-container {
            display: grid;
            gap: 5px;
            grid-template-columns: repeat(2, 1fr);
            
        }
    
        .banner-title {
            font-size: 45px;
        }



        /* Popular style section */

                .popular-tours {
                    flex-direction: column;
        
                }
        
                .tour-img {
                    width: 600px;
                    height: 342px;
                    flex-shrink: 0;
                    border-radius: 16px;
                    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                }
        
                .popular-tours-img {
                    width: 600px;
                    height: 342px;
                }
        
                /* Destination Style Section */
        
                .destination {
                    margin-top: 100px;
                    margin-bottom: 100px;
                }
        
                .destination-title {
                    color: #131318;
                    text-align: center;
                    font-family: Mulish;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    padding-bottom: 24px;
                }
        
                .destination-des {
                    color: rgba(19, 19, 24, 0.70);
                    text-align: center;
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    /* 162.5% */
                    padding-bottom: 48px;
                }
        
                .row-1 {
                    flex-direction: column;
                    padding-bottom: 16px;
                }
        
                .row-2 {
                    flex-direction: column;
                    padding-bottom: 16px;
                }
        
                .row-3 {
                    flex-direction: column;
        
                }
    
}








/* Tablet Responsive Style */

@media screen and (min-width:426px) and (max-width:768px){




/* Navbar Responsive Style */
    .navbar {
            flex-direction: column;
        }

    .menu-container {
        margin-top: 10px;
    }



/* Banner Responsive Style */

.banner-img {
    width: 600px;
    height: 483px;
}
.black {
    width: 600px;
    height: 483px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.form-container {
    display: grid;
    gap: 5px;
   grid-template-columns: repeat(2,1fr);
}
.banner-title{
    font-size: 45px;
}
}